
<!-- code a "Welcome" section -->
<div class="banner, text-justify" id="banner">
  <h1 class="text-center">Welcome to MyStorage</h1>
<h2 class="text-center">Might be interesting?</h2>
</div>


<!-- code a "Cards" section -->


<div class="container">

    <div class="cards">

      <div class="card1">
        <%= image_tag "images-2.jpeg" %>
        <!-- <img src="images/images-2.jpeg" style="background-image: " alt=""> -->
        <h4>Apply</h4>
      </div>

      <div class="card2">
        <%= image_tag "images.jpeg" %>
        <h4>Be a Rentee</h4>
      </div>

      <div class="card3">
        <%= image_tag "images-3.jpeg" %>
        <h4>Be a Renter</h4>
      </div>
    </div>
    <div>
    <h3> some extra info/features</h3>
    </div>
  </div>


