<div class="banner" id="banner">

</div>

<h1>Welcome to MyStorage</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Here are some exciting flats </h2>
<div class="cards">
  <ul class="list-inline">
    <li class="list-inline-item">Storage space 1</li>
    <li class="list-inline-item">Storage space 2</li>
    <li class="list-inline-item">Storage space 3</li>
</ul>
<a href="..." class="btn btn-primary">Explore?</a>
</div>
<div>some extra info/features</div>

