
<!-- code a "Welcome" section -->
<div class="banner, text-justify" id="banner">
<div class="card_text">
  <%= image_tag "images-1.jpeg" %>
  <p><strong>Having trouble to get rid of all your Favorite Records?</strong> </p>
  <p>Just store them somewhere else </p>
  </div>
  <a href="http://localhost:3000/spaces" class="btn btn-primary">Let's store!</a>
  <br>
<h2 class="text-center">Might be interesting...</h2>
</div>
<!-- code a "Cards" section -->
<br>

<div class="container">

    <div class="cards">

      <div class="card1">
        <%= image_tag "images-2.jpeg" %>
        <!-- <img src="images/images-2.jpeg" style="background-image: " alt=""> -->
        <p>Rent my Garage</p>
        <p> 5€/m3</p>
      </div>

      <div class="card2">
        <%= image_tag "images.jpeg" %>
        <p>Nice Storagespace for Electronics</p>
        <p> 5€/m3</p>
      </div>

      <div class="card3">
        <%= image_tag "images-3.jpeg" %>
        <p>Munich available 6 Months</p>
        <p> 5€/m3</p>
      </div>
    </div>
    <div>
    <h3> some extra info/features</h3>
    </div>
  </div>


