<div class="banner" id="banner">

</div>

<h1>Welcome to MyStorage</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<a href="..." class="btn btn-primary">Login</a>
<h2>Here are some exciting flats </h2>
<div class="cards">
  <ul>
    <li>Storage space 1</li>
    <li>Storage space 2</li>
    <li>Storage space 3</li>
</ul>
</div>
<div>some extra info/features</div>

