// prev version card_reservations

/* line 5, app/assets/stylesheets/components/_card_reservations.scss */
div .month {
  font-size: 0.3em;
  font-weight: lighter;
}

/* line 9, app/assets/stylesheets/components/_card_reservations.scss */
div .date {
  font-weight: lighter;
  color: black;
  /*padding-left: 5px;*/
}

/* line 20, app/assets/stylesheets/components/_card_reservations.scss */
div.date_block {
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 6px 2px;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  font-size: 38px;
  flex-direction: column;
  text-align: center;
  transition: opacity 0.15s linear 0s;
}

/* line 36, app/assets/stylesheets/components/_card_reservations.scss */
div.date_block:hover {
  background-color: #0000f6;
  color: white;
}

/* line 40, app/assets/stylesheets/components/_card_reservations.scss */
div.date_block:hover .date {
  color: white;
}

/* line 44, app/assets/stylesheets/components/_card_reservations.scss */
.reserved_date {
  width: 250px;
  display: flex;
  align-items: center;
  font-size: 2em;
  margin: 10px 0;
}


// cards space scss


ul#spaces {
  padding-left: 15px;
}

ul#spaces > a {
  text-decoration: none;
  color: #0E0000;
  display: block;
  max-width: 500px;

  &:hover .card-space {
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
  }
}

.card-space {
  transition: all .3s ease-out;
  margin-bottom: 15px;
}

ul.spaces, ul.card-space-details {
  list-style-type: none;
  padding-left: none;
}

.card-space {
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  &:first-of-type {
    margin-top: 30px !important;
  }

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .card-space-details {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    li {
      max-height: 40px;
      overflow: hidden;
      // not yet mobile-responsive
    }
    li:first-of-type {
      max-width: 225px;
    }
    li:nth-of-type(2) {
      min-width: 68px;
    }
  }
}
