// body {
//     font-family: Helvetica, sans-serif;
//     font-size: 0.8em;
//   }
  div .month {
    font-size: 0.3em;
    font-weight: lighter;
  }

  div.date_block {
    background-color: rgb(255, 255, 255);
    user-select: none;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 6px 2px;
    border-radius: 8px;
    width: 80px;
    height: 80px;
    font-size: 38px;
    flex-direction: column;
    text-align: center;
    transition: opacity 0.15s linear 0s;
  }
  div.date_block:hover {
    background-color: #0000f6;
    color: white;
  }
  div.date_block:hover .date {
    color: white;
  }

  ul#reservations > a {
    text-decoration: none;
    color: #0E0000;
    display: block;
    max-width: 500px;
  
    &:hover .card-reservation {
      box-shadow: 0 0 15px rgba(0,0,0,0.4);
    }
  }
  
  .card-reservation {
    transition: all .3s ease-out;
  }
  
  ul.reservations, ul.card-reservation-details {
    list-style-type: none;
    padding-left: none;
  }
  
  .card-reservation {
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  
    &:first-of-type {
      margin-top: 30px !important;
    }
  
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  
    h2 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
  
    p {
      font-size: 12px;
      opacity: .7;
      margin: 0;
    }
  
    .card-reservation-details {
      padding: 16px;
      display: flex;
      justify-content: reservation-between;
      align-items: flex-end;
      position: relative;
   
      li:first-of-type {
        max-width: 225px;
        overflow: hidden;
        height: 48px;
      }
      li:nth-of-type(2) {
        min-width: 68px;
      }
    }
  }

  .reserved_date {
    width: 250px;
    display: flex;
    align-items: center;
    font-size: 2em;
    margin: 10px 0;
  }
