.navbar-lewagon {
  justify-content: space-between;
  background: #14213d;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}
.nav-link {
  text-decoration: none;
  color: #fca311 !important;
}

.nav-item {
  padding: 0 2px;
  margin: 0 4px;
  &.active {
    border-bottom: 1px solid #fca311;
    // border-radius: 4px;
  }
}
