// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "components/card_space";
@import "components/card_reservations";
@import "components/footer";
@import "pages/index";
@import "components/banner";

body {
font-size: 14px;
line-height: 1.43;
margin: 0;
font-family: "Open Sans" !important;
color: #fca311;
background-color: #14213d;
}

h1, h2, h3, h4 {
  font-family: "Open Sans" !important;
}

